@model DemoMvc.Models.Employee;

@inject DemoMvc.Repository.IDepartmentRepository DepartmentRepository

@{
    ViewBag.Title = "Update Employee Details";
}

<h1>Update Employee Details</h1>

<form method="post" action="View" class="mt-10">
    <div class="mb-3">
        <label for="#" class="form-label" action="View">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">DateOfBirth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">Department</label>
        <select asp-for="DepartmentId" id="DepartmentId" class="form-control border selectpicker" data-live-search="true"
                asp-items="@(new SelectList(await DepartmentRepository.GetDepartments() , "Id", "Name"))">
            <option selected>--- SELECT ---</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div>

    <div class="mb-3">
        <label for="" class="form-label" action="View">City</label>
        <input type="text" class="form-control" asp-for="City">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <button type="submit" class="btn btn-primary" asp-action="Delete"
            asp-controller="Employee">
        Delete
    </button>
</form>
