@model Department
@{
    ViewData["Title"] = "Add Department";
}

<h1>Add Department</h1>


<form method="post" action="Add" class="mt-10">
    <div class="mb-3">
        <label for="" class="form-label" action="Add">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="row">
    <div class="col-md-12">
        <div class="card card-warning">
            <div class="card-body" style="overflow:auto;height:500px;padding:0px;">
                <table id="itemTable" class="table table-striped table-bordered nowrap" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th style="text-align:center">
                                Incharge
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ItemsBody">

                        @for (var i = 0; i < 10; i++)
                        {
                           <tr>
                               <td>
                                   <input type="text" asp-for="@Model.Incharge[i].InchargeName" style="width:100%">
                               </td>
                           </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

