@model List<DemoMvc.Models.Customer.Customer>
@{
    ViewData["Title"] = "Show Customers Details";
}

<h1>Show Customers Details</h1>

<table class="table mt-5 table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cus in Model)
        {
            <tr>
               <td>@cus.Id</td>
               <td>@cus.Name</td>
               <td>@cus.PhoneNumber</td>
               <td>
                   @Html.ActionLink("Update","Update",new{id= cus.Id})
               </td>
            </tr>
        }
    </tbody>
</table>

