<div class="container-fluid">
    <form class="col-sm-12" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-3  d-flex">
                <label for="date" class="form-label" style="width:220px;">Admission Date : </label>
                <input type="date" class="form-control" id="date" aria-describedby="dateHelp">
            </div>
            <div class="col-sm-3  d-flex">
                <label for="number" class="form-label" style="width:220px;">Admission No : </label>
                <input type="number" class="form-control" id="number" aria-describedby="numberHelp">
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-6  d-flex">
                <label for="studentName" class="form-label" style="width:154px;">Student Name : </label>
                <input type="text" class="form-control" id="studentName" aria-describedby="studentName">
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-3  d-flex">
                <label for="AadharNumber" class="form-label" style="width:220px;">Aadhar No : </label>
                <input type="number" class="form-control" id="AadharNumber" aria-describedby="AadharNumber">
            </div>
            <div class="col-sm-3  d-flex">
                <label for="EMIS" class="form-label" style="width:220px;">EMIS No : </label>
                <input type="number" class="form-control" id="EMIS" aria-describedby="EMIS">
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-3  d-flex">
                <label for="Father" class="form-label" style="width:220px;">Father Name : </label>
                <input type="text" class="form-control" id="Father" aria-describedby="Father">
            </div>
            <div class="col-sm-3  d-flex">
                <label for="Mother" class="form-label" style="width:220px;">Mother Name : </label>
                <input type="text" class="form-control" id="Mother" aria-describedby="Mother">
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-3  d-flex">
                <label for="Guardian" class="form-label" style="width:220px;">Guardian Name : </label>
                <input type="text" class="form-control" id="Guardian" aria-describedby="Guardian">
            </div>
            <div class="col-sm-3  d-flex">
                <label for="LastSchool" class="form-label" style="width:220px;">Last School Studied Name : </label>
                <input type="text" class="form-control" id="LastSchool" aria-describedby="LastSchool">
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Class Applied : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Current Class : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Current Sec : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-6  d-flex">
                <label for="Address" class="form-label" style="width:154px;">Address : </label>
                <textarea type="text" style="min-height:100px" class="form-control" id="Address" aria-describedby="Address"></textarea>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Place : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">State : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Pin Code : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-4  d-flex">
                <label class="form-label" style="width:115px;">Academic Year Joined : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Cur.Academic Year : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Caste : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Religion : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2  d-flex">
                <label class="form-label" style="width:130px;">Community : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-3 d-flex">
                <label for="Nationality" class="form-label" style="width:220px">Nationality :</label>
                <input type="text" class="form-control" id="Nationality" aria-describedby="Nationality" />
            </div>
            <div class="col-sm-3 d-flex">
                <label for="MotherTongue" class="form-label" style="width:220px">Mother Tongue :</label>
                <input type="text" class="form-control" id="MotherTongue" aria-describedby="MotherTongue" />
            </div>
        </div><br />
        <div class="row" style="display:flex">
            <div class="col-sm-3  d-flex">
                <label class="form-label" style="width:130px;">Blood Group : </label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        select
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            
        </div><br />
        <div class="row">
            <div class="col-sm-3  d-flex">
                <label for="dob" class="form-label" style="width:198px;">D.O.B : </label>
                <input type="date" class="form-control" id="dob" aria-describedby="Date of Birth" />
            </div>
            
        </div><br />
        <div class="Grid">
            <div class="single" style="margin:-115px 0 0 330px;">
                <div class="row">
                    <div class="col-sm-2 form-check d-flex">
                        <input class="form-check-input" type="radio" name="flexRadioOther" id="charity">
                        <label class="form-check-label" for="charity">
                            Charity Concession
                        </label>
                    </div>
                    <div class="col-sm-3 d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioOther" id="staff">
                        <label class="form-check-label" for="staff">
                            staff concession
                        </label>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-2  d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioOther" id="thirdchild">
                        <label class="form-check-label" for="thirdchild">
                            3rd Child Concession
                        </label>
                    </div>
                    <div class="col-sm-1  d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioOther" id="rte">
                        <label class="form-check-label" for="rte">
                            RTE
                        </label>
                    </div>
                    <div class="col-sm-1  d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioOther" id="others">
                        <label class="form-check-label" for="others">
                            others
                        </label>
                    </div>
                </div>
            </div>
            <div class="singlesside" style="margin:-100px 0 0 650px">
                <div class="row">
                    <div class="col-sm-1  d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioside" id="tc">
                        <label class="form-check-label" for="tc">
                            Tc
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1  d-flex form-check">
                        <input class="form-check-input" type="radio" name="flexRadioside" id="Left">
                        <label class="form-check-label" for="Left">
                            Left
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 form-check">
                        <input class="form-check-input" type="radio" name="flexRadioside" id="other">
                        <label class="form-check-label" for="other">
                            other
                        </label>
                    </div>
                </div>
            </div><br />
        </div>
        
        <div class="RightSideBar">
            <div class="row">
                <div class="col-sm-12" style="margin:-892px 0 0 800px">
                    <input type="file" name="image" id="image" value="select image"><br /><br />
                    <input type="submit" value="Upload">
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" value="submit" />
            </div>
        </div>
    </form>
</div>